<div class="masthead clearfix">
    <div class="inner">
        <h3 class="masthead-brand">NodeJS Auth</h3>
        <ul class="nav masthead-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/contact">Contact</a></li>
            <% if (typeof user != 'undefined') { %>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/logout">Logout</a></li>
            <% } %>
        </ul>
    </div>
</div>